    /* Add custom styles here */
    #body {
        background-color: #242f2f;
      }
      #navbar {
        background-color: #f6f1dc;
      }
      #sidebar {
        background-color: #f6f1dc;
      }
      #card {
        background-color: #f6f1dc;
      }
      #save-button {
        background-color: #31aca6;
      }
      #prev-button, #next-button {
        background-color: #da5c3e;
      }